displayName: Test_2/28/2024_9:06:49 PM
testPlan: loadtest.jmx
description: ''
engineInstances: 1
testId: 75bdee6f-adda-43ad-949f-ac5908dfc2c3
testType: JMX
splitAllCSVs: False
configurationFiles:
- dataset.csv
failureCriteria:
- HTTP Request: p95(response_time_ms) < 10000
- HTTP Request: p95(latency) < 10000
secrets:
- name: loadtestSecret
  value: [Replace by orchestrator-host--functionKey secret value]
properties:
  userPropertyFile: loadtest.properties
autoStop:
  errorPercentage: 90
  timeWindow: 60
